QWidget
{
    background-color: #000000;
}

QLabel
{
    color: #FFFFFF;
    background-color: #3e4142;
    qproperty-alignment: AlignCenter;
    border-radius: 4px;
    margin: 10px;
}

QTextEdit
{
    color: #FFFFFF;
    background-color: #3e4142;
    margin: 10px;
}

QPushButton
{
    color: #000000;
    background-color: #229FFF;
    font-size: 18px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

